@charset "utf-8";
#header{
    box-shadow: 0 1px 3px #fff;
}
.head {
    position: relative;
    width: 100%;
    background: #fff;
    z-index: 10;
    border-bottom: 1px solid #ccc;

}

* {
    box-sizing: border-box;
    
}
a.head_nav-menu b:before, a.head_nav-menu b:after, a.head_nav-menu b em {
    content: '';
    display: inline-block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    border-radius: 2px;
    background-color: #1a1a1a;
    transition: all 0.3s ease;
    transition-delay: .1s;
}
a.head_nav-menu{
    position: absolute;
    padding: 0 10px;
    height: 100%;
    left:20px;
    padding-top: 21px;
    display: none;

}
a.head_nav-menu b{
    position: relative;
    width: 18px;
    height: 12px;
    display: inline-block;
}
a.head_nav-menu b:after{
    bottom: 0;
    width: 100%;
}
a.head_nav-menu b em{
    top: 50%;
    margin-top: -1px;
}

.head_nav{
    height:60px;
   width: 1200px;
    margin:0 auto;
}

li.logo{
height: 60px;
width: 20%;
}

.head_nav > li.logo > a {
    display: inline-block;
    padding: 30px 0;
    width: 100%;
    background: url(../images/logo.png) no-repeat center;
    background-size: 65%;
}
.head_nav>li.list_content{
    width:60%;
 
}
.head_nav>li{
    height: 60px;
    line-height: 60px;
    /* display: inline-block; */
    float: left;
}
li.list_content >ul>li {
    float: left;

}
ul ul{
    margin-bottom: 0;
}
ul{
    margin-top: 0;
}
.head_nav>li>a
,li.list_content>ul>li>a{
   padding: 23px 25px;
    color:#333;
    font-size: 14px;
}
li.list_content>ul>li>a:hover{
    color: #999;
    background: none !important;
}
.header_content {
    height: 0;
    width: 100%;
    position: absolute;
    left: 0;
    top: 60px;
    background: #fff;
    transition: 0.25s;
    overflow: hidden;
}
.header_content>div {
    width: 1200px;
    margin: 0 auto;
    height: 200px;
    position: relative;
}
.header_content .content_list {
    width: 20%;
    float: left;
    height: 200px;
    padding-left: 5%;
    display: flex;
    justify-content: left;
    align-items: center;
    
}
.content_list{
    overflow: hidden;
}
.header_content .content_list li.active .content_con{
    display: flex;
}
.header_content .content_list li.active span:hover .content_con{
    display: block;
}

ul{
    padding: 0;
}
.header_content .content_list>ul>li {
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    font-size: 12px;
    /* width: 168px;
    float: left; */
    color: #333;
  
}
.header_content .content_list>ul>li>span {
    display: inline-block;
    padding: 0 10px;
}

.header_content .content_con>ul li p.new_tag {
    color: #de634f;
    margin-top: 0;
}
.header_content .content_con>ul li p {
    font-size: 12px;
    font-weight: 500;
    color: #333;
    margin-bottom: 0;
    text-align: center;
}
.header_content .content_con>div {
    width: 168px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_content .content_con div a {
    /* display: block; */
    width: 100px;
    height: 44px;
    line-height: 44px;
    border-radius: 22px;
    color: #333;
    border: 1px solid #333;
    text-align: center;
    transition: 0.25s;
}
.header_content .content_con>ul li img {
    /* display: block; */
    width: 100px;
    height: 100px;
    margin: 0 auto;
}
.content_con>ul>a li{
    width: 168px;
    height: 130px;
    float: left;
}

.header_content .content_list li .content_con {
    width: 70%;
    float: left;
    justify-content: left;
    align-items: center;
    height: 200px;
    position: absolute;
    top: 0;
    left: 20%;
    z-index: 99999;
    display: none;
}
.header_content .content_list li .active:hover .content_con{
    display: block;
}
li.list_content>ul{
    height:60px;
   margin-top: 0;
   float: left;
}
.header_content .content_con ul{
    width: 675px;
    height: 150px;
}
.header_content .content_con ul li{
    float: left;
}
li.list_content ul  span:hover{
    background: rgb(228, 226, 226);
}
li.list_content ul li:hover .header_content{
height: 200px;
}
.nav_ul_content{
    display: inline-block;
    height: 60px;
}






li.head_nav_right{
    z-index:10;
    width: 20%;
}
.head_nav_right ul{
height: 100%;
}
.head_nav_right ul>li{
    float: left;
    position: relative;
    height: 100%;
}
.head_nav_right ul>li.user{
    padding-left: 60px;
   
}
.head_nav_right>ul>li>a{
    display: inline-block;
    padding: 20px 10px;
    height: 100%;
    line-height: 20px;
}
.head_nav_right>ul>li>a>span{
    color: black;
}
.box_s{
    box-shadow: 0 1px 2px 0 rgba(102,102,102,0.5);
}
.head_user_content {
    position: absolute;
    display: none;
    top: 60px;
    right: -76px;
    width: 360px;
    height: auto;
    padding: 20px;
    transition: .25s;
    overflow: hidden;
    /* display: block; */
}
.user:hover .head_user_content{
    display: block;
    background: white;
}
.head_user_content>ul>li {
    width: 100%;
    font-weight: 400;
    text-align: left;
    border-bottom: 1px solid #eee;
}

.head_user_content>ul>li>a {
    height: 50px;
    line-height: 50px;
    color: #999;
    display: block;
    font-size: 14px;
}
.head_user_content>ul>li:first-child>a {
    color: #de634f;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
    margin-bottom: 5px;
}
span.no_account {
    color: #999;
    float: right;
    display: block;
    height: 50px;
    line-height: 50px;
}
.car:hover .head_user_content{
    display: block;
    background: white;

}

ul.car_nothing>li{
    font-size: 14px;
    text-align: center;
    line-height: 30px;
    padding-bottom:10px; 
}
ul.car_nothing>li>a{
    display: block;
    height: 40px;
    line-height: 40px;
    border-radius: 3px;
    color: #fff;
    margin-top: 20px;
    padding: 0;
}
a.shopping_btn{
    background: #de634f;
}

.search_input{
    position: absolute;
    left:50%;
    top: 0;
    right: 0;
    bottom: 0;
    height: 60px;
    width: 700px;
    background: #fff;
    opacity: 0;
    overflow: hidden;
    margin-left: -350px;
   
}
.search_active{
    z-index:8;
    overflow: visible;
    opacity: 1;
    display: none;
}
.search_input .icon-sousuo{
position: absolute;
text-align: center;
line-height: 60px;
left: 20px;
font-size: 24px;
color:#999;
cursor: pointer;
font-weight: 500;
}
.search_input  .icon-guanbi {
    position: absolute;
    text-align: center;
    line-height: 60px;
    right: 10px;
    font-size: 28px;
    font-weight: 500;
    color: #999;
    cursor: pointer;
}
.search_input>input{
    display: inline-block;
    border: 0;
    width: 650px;
    padding: 10px;
    margin-left: 45px;
    box-sizing: border-box;
    color:#101920;
    font-size: 14px;
    background-color: #fff;
    height: 60px;
    outline: 0;
}
.search_input>.search_recommended{
    background: #fff;
    width: 100%;
    position: absolute;
    top: 60px;
    height: 0;
    transition: 0.25s;
   
}
.search_input>.search_recommended>ul {
    background: #fff;
    padding: 10px 0;
    margin-bottom: 0;
}
.search_input>.search_recommended>ul>li>a {
    display: inline-block;
    width: 100%;
    padding: 20px 40px;
    background: #fff;
    color: #999;
    font-size: 14px;
}
/* footer */
.foot {
    clear: both;
    background: #fff;
    padding-bottom: 50px;
}
.foot .container {
    max-width: 1200px;
}
.container {
    width: 100%;
    padding: 0;
    margin-right: auto;
    margin-left: auto;
}
.phone-server {
    padding: 50px 7%;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}
.phone-server>div {
    overflow: hidden;
}
.phone-server div.col-md-3 {
    margin-bottom: 30px;
    width: 25%;
    float: left;
    text-align: center;
}
.phone-server div.col-md-3 >a:hover{
    color: rgb(180, 180, 180);
}
.phone-server div.col-md-3 >a{
    text-align: center;
    color: #333;
}
.phone-server div.col-md-3 >a>i {
    display: block;
    font-weight: 900;
    font-size: 50px;
    margin-bottom: 20px;
    transition: 0.25s;
    padding-top: 10px;
  
}
.all_list {
    margin: 0 auto;
    padding: 0;
    margin-bottom: 20px;
}
.all_list>div {
    border-bottom: 1px solid #eee;
    overflow: hidden;
    padding: 50px 0;
}
.all_list div.col-xs-12 {
    padding-left: 0;
}
.col-md-2 {
    width: 16.666666666666664%;
    float: left;
}
.all_list div.col-xs-12 >p {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 20px;
    color: #333;
}
.all_list div.col-xs-12 > ul > li {
    float: left;
    width: 100%;
    text-align: left;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;
    height: 21px;
    overflow: hidden;
}
.col-xs-12 > ul > li >a{
    color: #999;
}
.col-xs-12 > ul > li>a:hover{
    color: #000;
}
p {
    line-height: 1.72222;
    margin: 0 0 10px;
}
.call_me {
    text-align: right;
    float: right;
}
.col-md-4 {
    width: 33.33333333333333%;
}
.call_me > div {
    margin-bottom: 20px;
    color: #a5a5a5;
    font-weight: 400;
}
.call_me a.online {
    border-radius: 50px;
    width: 150px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    cursor: pointer;
    color: #fff;
    background: #666;
    display: inline-block;
    text-align: center;
    margin-bottom: 5px;
}
.call_me a.online>i {
    font-size: 24px;
    color: #fff;
    font-weight: 900;
    margin-right: 4px;
    transition: 0.25s;
    vertical-align: middle;
}
.call_me > div > p {
    margin-bottom: 0;
    color: #999;
    line-height: 24px;
    font-size: 14px;
}
.call_me > div > p >b {
    font-size: 20px;
    color: #333;
}
.master-footer {
    margin: 0 auto;
    padding: 0;
 border-top: none;
    background-color: #fff;
text-align: center;
    color: #555;
    font-size: 12px;
}
.master-footer .nubia-foot-nav {
    padding: 50px 0 0 0;
}
.nubia-foot-nav>div {
    text-align: center;
    position: relative;
    color: #999;
    font-size: 14px;
    line-height: 18px;
}

.nubia-foot-nav>div {
    padding: 0;
}
.col-md-10 {
    width: 83.33333333333334%;
}
.nubia-foot-nav>div {
    text-align: center;
    position: relative;
    color: #999;
    font-size: 14px;
    line-height: 18px;
}
.master-footer .nubia-foot-nav>div>a {
    color: #999;
    font-weight: 400;
    padding: 0;
}
.nubia-foot-nav>div.btn-group {
    text-align: right;
    float: right;

}
.nubia-foot-nav>div.btn-group>.btn {
    float: none;
    padding-right: 0;
    margin-top: 0;
    border: none;

}
.btn-group > .btn:first-child {
    margin-left: 0;
}